<nav class="sidebar">
    <div class="list-group d-flex align-items-start">
        <img class="user-avatar align-self-center" src="assets/images/Twitter_Logo_Blue.png" width="50px" />
        
        
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/tweets/all']" class="list-group-item align-self-start">
            <mat-icon aria-hidden="false">home</mat-icon>&nbsp;
            <span>{{ 'Inicio'}}</span>
        </a>

        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/login']" class="list-group-item align-self-start">
            <mat-icon aria-hidden="false">login</mat-icon>&nbsp;
            <span>{{ 'Salir'}}</span>
        </a>
        

    </div>
    
</nav>

