$topnav-background-color: #222;

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: left;
    color: #fff;
    padding: 3em;

    

}
.tweet{
    min-height: 180px;
    max-height: 300px;
}
h1, a{
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}
.salir{
    margin-left: 900px;
    text-decoration: none;
    color: red;
    // //background-color: blue;
    // color: white;
    
}


// .tweet {
//     max-width: 600px;
//     margin: auto;
// }
// .tweet{
//     background-color: $topnav-background-color;
//     color: white;
//     border: 1px solid white;
// }
div{
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
span, p{
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
}
.encabezado {
    background-image: url('https://randomuser.me/api/portraits/lego/1.jpg');
    background-size: cover;
}

.mat-card-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.icono{
    border: none;
    background-color: white;
    
}
.gray{
    color: gray;
    
}
i{
    font-size: 24px;
}


// .like{
//     color: none;
//     //border: 1px solid gray;
//     font-size: 30px;
// }
.icono:hover .like{
    color: red;
}
.descripcion{
    // position: absolute;
    // bottom: 0px;
    height: 40%;
    
}

// .like{
//     color:red;
// }

.icono:focus .like{
    
    color: red;
}

