<main><h1>Inicio</h1>
  <!-- <a href="" class="salir" [routerLink]="['/']" (click)="salir()">Salir</a> -->
  <!-- <button class="btn btn-danger col-2 salir" mat-icon-button (click)="salir()" [routerLink]="['/']" value="Salir">Salir</button> -->
  <!-- <button (click)="salir()">Salir</button> -->
<div class="container mb-5"></div>
<div class="container mb-3 col-5" *ngFor="let tweet of tweets">
  <mat-card class="tweet">
    <div class="d-flex">
      <div mat-card-avatar class="encabezado">{{tweet.user.photoUrl}}</div>
      <div class="col-10">
        <mat-card-header>
      
          <mat-card-title><span class="font-weight-bold">{{tweet.user.username}}</span> <span class="text-secondary">{{tweet.user.email}}</span></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="descripcion">
            <p class="pl-3 pt-1">
              {{tweet.mensaje}}
            </p>
          </mat-card-content>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        
        <mat-card-actions class="d-flex">
          <div class="col-3">
            <button class="icono btn"><i class="far fa-comment gray"></i></button>
          </div>
          <div class="col-3">
            <button class="icono btn"><i class="fas fa-retweet gray"></i></button>
          </div>
          <div class="d-flex col-3">
            <button class="icono btn" mat-icon-button (click)="darLike(tweet.id)"><mat-icon class="gray like" aria-hidden="false">favorite</mat-icon></button>
              <div class="d-flex align-items-end"><p class="gray">{{tweet.likes.length}}</p></div>
          </div>
          
          <div class="col-3">
            <button class="icono btn" mat-icon-button><mat-icon class="gray" aria-hidden="false">share</mat-icon></button>
          </div>
          
          
          <!-- <button class="btn"><i class="fas fa-heart like"></i></button> -->
         
          
        </mat-card-actions>
      </div>
    </div>
    
  </mat-card>
  
</div>
</main>


<!-- <div class="container" *ngFor="tweet of tweets">
  <mat-card class="tweet">
    <mat-card-header>
      <div mat-card-avatar class="encabezado"></div>
      <mat-card-title><span>Nombre Usuario</span> <span class="text-secondary">@usuariotwitter</span></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    
    <!-- <mat-card-actions>
      <button class="icono" mat-icon-button><mat-icon class="fav" aria-hidden="false">favorite_border</mat-icon></button>
     
      <button class="icono" mat-icon-button><mat-icon  aria-hidden="false">share</mat-icon></button>
      
    </mat-card-actions>
  </mat-card>

</div> -->
