.twittear{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    width: 25%;
    font-size: 15px;
    line-height: 49px;
    padding: 0 25px;
    font-weight: 700;
    margin-left: 90%;
    
    
    
}

.mat-card-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.tweet{
    height: 150px;
    width: 100%;
}
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    border-radius: 0;
    
    

}

.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 0;
    margin-bottom: 5%;
}

.input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
}


div{
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
span, p{
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
}
.encabezado {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}