<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/Twitter_Logo_Blue.png" width="150px" />
            <h1>Iniciar Sesión</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Email'"
                            class="form-control input-underline input-lg"
                            type="text"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Contraseña'"
                            class="form-control input-underline input-lg"
                            type="password"
                        />
                    </div>
                </div>
                <a [routerLink]="['/']" class="btn rounded-btn">{{'Log in'}}</a>
                &nbsp;
                <a [routerLink]="['/registro']" class="btn rounded-btn">{{'Registrarse'}}</a>
            </form>
        </div>
    </div>
</div>

